header.navbar
  display flex
  align-items center
  .sidebar-button
    position static
  .home-link
    display flex
    align-items center
.lead 
  p
    font-weight 300
    font-size 20px
    margin-bottom 0

.lead::after
  display block
  background linear-gradient(to right, #666 0%, #006ed0 80%)
  height 4px
  content ""
  width 65%
  border-radius 10px
  margin-top 2rem
  margin-bottom 2.5rem

img 
  border-radius 5px

img 
  border-radius 5px

.freebirdFormviewerViewCenteredContent
    max-width 94% !important
    margin-left 4px !important

.p5embed
  margin 1rem 0
  border none 
  border-radius .3rem

.btn 
  background #f1f1f1
  border-radius .2rem
  padding .5rem .75rem
  transition all ease .3s
.btn:hover 
    background #e5e5e5
    text-decoration none !important
    cursor pointer
  
.action-btn 
  background #006ed0
  color white
.action-btn:hover
  background #006ed0
  text-decoration none !important
  cursor pointer

.search-box + .nav-links .nav-item:last-child
  background #006ed0
  padding-left 1rem
  padding-right 1rem
  border-radius 10rem
  color white
  opacity 1
  font-weight 600

.xr6
  display flex
  flex-wrap wrap
  margin-bottom 1.5rem
  > a
    width calc(50% - 4rem - 4px)
    background #f9f9f9
    padding 1rem 1.5rem
    margin .5rem
    border-radius:.3rem
    text-decoration none !important
    border 2px solid #f5f5f5
    strong
      font-weight 800
    &:hover 
      background #f9f9f9
      border 2px solid #006ed0
    ul
      list-style-type disc
      list-style-position outside
      padding 10px
      font-weight:400 !important
      font-size:14px
      li
        color:#111

.backhome
  background #006ed0
  color #ffffff
  padding .2rem 1rem .2rem .5rem
  border-radius 5rem
  display inline-flex
  align-items center
  &:hover 
    text-decoration none !important
    background darken(#006ed0, 5%)
  .material-icons
      margin-right .25rem

.custom-block
  border-radius .5rem
  margin 2.5rem 0 !important

.videohtml
  width 100%
  height auto
  border-radius .4rem

a[data-fancybox] 
  img
    box-shadow: rgba(0,0,0,.15) 0 5px 10px 0;
  &.no-shadow
    img
      box-shadow none


.sidebar a.latest-less
  display:flex !important;
  justify-content:center
  align-items:center
  background #ccc
  width calc(100% - 6rem)
  padding .75rem 1rem
  margin 0 2rem
  border-radius 5rem
  background #f9f9f9
  border 2px solid #ccc
  transition: all ease .2s
  &:hover
    border 2px solid #006ed0

.btn-demo
  display inline-flex
  text-transform uppercase
  background #006ed0
  color white
  padding .4rem 1.4rem
  margin 1rem 0
  border 2px solid #007bff
  border-radius 5rem
  transition all ease .2s
  &:hover
    text-decoration none !important
    background darken(#007bff, 10%)
  &.btn-demo-light
    color #333
    border 2px solid #ddd
    background #ffffff
  &:hover
    text-decoration none !important
    color #006ed0

.note-warning 
  padding 1rem
  font-size .9rem
  line-height 1.3rem
  color #000
  border 2px solid red
  margin 2rem
  border-radius .4rem

.sidebar-heading
    font-size 1em !important

video 
  max-width 100%
  height auto